{
  "printWidth": 100,
  "proseWrap": "always",
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "proseWrap": "preserve",
        "printWidth": 120
      }
    },
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "proseWrap": "preserve"
      }
    }
  ]
}
