<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Book files</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.idpf.epub-container</string>
				<string>com.gosayram.glibusta.fb2</string>
				<string>public.plain-text</string>
				<string>public.rtf</string>
				<string>com.amazon.mobi8-ebook</string>
				<string>com.gosayram.glibusta.azw3</string>
				<string>com.gosayram.glibusta.prc</string>
				<string>com.lizardtech.djvu</string>
				<string>com.adobe.pdf</string>
			</array>
		</dict>
	</array>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>$(PRODUCT_COPYRIGHT)</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.gosayram.glibusta.fb2</string>
			<key>UTTypeDescription</key>
			<string>FictionBook 2</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
				<string>public.text</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fb2</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-fictionbook+xml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.amazon.mobi8-ebook</string>
			<key>UTTypeDescription</key>
			<string>Mobipocket eBook</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mobi</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-mobipocket-ebook</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.lizardtech.djvu</string>
			<key>UTTypeDescription</key>
			<string>DjVu document</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>djvu</string>
					<string>djv</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>image/vnd.djvu</string>
					<string>image/x.djvu</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.gosayram.glibusta.azw3</string>
			<key>UTTypeDescription</key>
			<string>Amazon Kindle Format 8</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>azw3</string>
					<string>azw</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/vnd.amazon.mobi8-ebook</string>
					<string>application/octet-stream</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.gosayram.glibusta.prc</string>
			<key>UTTypeDescription</key>
			<string>Mobipocket PRC eBook</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>prc</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-mobipocket-ebook</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
